PORT=3000
TELEGRAM_BOT_TOKEN=SEU_TOKEN_AQUI
TELEGRAM_WEBHOOK_SECRET=segredo_interno_opcional
APP_BASE_URL=https://seu-dominio-publico.com

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=seubanco
MYSQL_CONNECTION_LIMIT=10

DB_USER=SEU_USUARIO
DB_PASSWORD=SUA_SENHA
DB_CONNECT_STRING=HOST:1521/SERVICO
DB_POOL_MIN=1
DB_POOL_MAX=5
DB_POOL_INCREMENT=1
ORACLE_CLIENT_LIB_DIR=D:\oracle\instantclient_19_26

EMPRESA_NOME=Minha Empresa
EMPRESA_TITULO_RELATORIO=Relatórios Comerciais

JWT_SECRET=coloque_um_segredo_bem_forte_aqui_123456
JWT_EXPIRES_IN=8h
COOKIE_NAME=admin_token
NODE_ENV=development